<div class="container">
    <div class="grid" *ngIf="!endGameMessage; else showEndGameMessage">
      <div class="square"
        *ngFor="let square of board; let pos = index"
        (click)="doMove(pos)">
          <div class="center" [ngClass]="{'o-square':square === O_SQUARE, 'x-square':square === X_SQUARE}">
            {{square}}
          </div>
      </div>
    </div>
    <ng-template  #showEndGameMessage>
      <div class='end-game'>{{endGameMessage}}
        <div (click)="initGame()">Play another?</div>
      </div>
    </ng-template>
  </div>
